# Python
__pycache__
*.pyc

# Vim
*.sw*

# local Virtualenv
venv 

# Jupyter NOtebook
notebooks/*venv
.ipynb_checkpoints/


# Testing files
lib/mongo_settings.cfg
lib/test/data/*
test/*


# Settings for local simulation
mongo_settings.cfg
