# Python
__pycache__
*.pyc

# Vim
*.sw*

# local Virtualenv
venv 

# Jupyter NOtebook
notebooks/*venv
.ipynb_checkpoints/


# Generated Testing data
test/data/*


# Settings for local simulation
mongo_settings.cfg
