pymongo==3.10.1
appnope==0.1.0
BeautifulSoup==3.2.1
functools32==3.2.3.post2
gnureadline==6.3.3
ipython-genutils==0.1.0
Jinja2==2.8
lda==1.0.3
lxml==3.5.0
MarkupSafe==0.23
nltk==3.4.5
pbr==1.8.1
pdfminer==20140328
pip-review==0.4
Quandl==2.8.9
simplegeneric==0.8.1
slate==0.3
xmltodict==0.9.2
